
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}
  
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.aplayer .aplayer-lrc p.aplayer-lrc-current{
  margin: 5px!important;
  line-height: 25px!important;
  height: auto!important;
  font-weight: 700;
  font-size: 24px!important;
  color: #48E3F6;
  overflow: visible;
  opacity: 1;
}

.aplayer .aplayer-lrc p{
  margin: 5px!important;
  padding: 0!important;
  line-height: 18px!important;
  font-weight: 500;
  font-size: 17px!important;
  color:#777777;
  transition:all .5s ease-out;
  opacity: .4;
  overflow: hidden;
}

.aplayer .aplayer-lrc{
  padding: 0!important;
  height: 50px!important;
}


/* 魔改播放器 */
.aplayer.aplayer-narrow .aplayer-body,
.aplayer.aplayer-narrow .aplayer-pic {
  height: 66px;
  width: 66px;
}
/* ****************************************************************************** */


/* 导航栏微调 */
/* .menus_item_child {
  padding: 5px!important;
}

.menus_item_child li:hover {
  border-radius: 5px!important;
}

#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex !important;
}

.menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -80px;
}

.menus_items .menus_item:nth-child(3) .menus_item_child {
  left: -80px;
}

.menus_items .menus_item:nth-child(4) .menus_item_child {
  left: -40px;
}

#nav {
  backdrop-filter: blur(15px);
}

[data-theme='light'] #page-header.full_page > #nav {
  background-color: rgba(255,255,255,0.5);
}

[data-theme='dark'] #page-header.full_page > #nav {
  background-color: rgba(0,0,0,0.5);
}

#sidebar #sidebar-menus .menus_items .site-page {
  border-radius: 0.4em;
}

#sidebar #sidebar-menus .menus_items .site-page:hover {
  color: #ffffff;
}

#nav .menus_items .menus_item .menus_item_child li:hover a {
  color: #ffffff!important;
}

#sidebar #sidebar-menus .menus_items .menus_item_child {
  padding-left: 10%!important;
} */
