/* 滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    /* background-color: rgba(73, 177, 245, 0.2); */
    background-color: rgba(180, 180, 180, 0.7);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--gavin-scrollbar-dark);
    background-image: -webkit-linear-gradient(
      45deg, /*倾斜角度*/
      transparent 20%,
      var(--gavin-scrollbar-light) 20%,
      var(--gavin-scrollbar-light) 40%,
      transparent 40%,
      transparent 60%,
      var(--gavin-scrollbar-light) 60%,
      var(--gavin-scrollbar-light) 80%,
      transparent 80%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
  }

:root {
    --gavin-box-bg: #3390FF; /*页码颜色*/
    --gavin-toc-bg: rgba(50, 150, 250, .9); /*目录颜色*//*rgba(51, 144, 255, .9)*/
    --gavin-scrollbar-dark: rgba(73, 177, 245, 1);
    --gavin-scrollbar-light: rgba(255, 255, 255, .4);
    --gavin-item-bg: rgba(73, 177, 245, .1);
    --gavin-item-border: rgba(50, 150, 250, .9);
    /* --sidebar-bg: rgb(250, 250, 250) */
    /* --gavin-bg-lineflash: rgb(0,0,255); */
    --card-bg: #ffffff;
    --card-box-shadow: 0 0px 7px 1px rgba(7,17,27, .25);
    --card-hover-box-shadow: 0 0 15px 6px rgba(7, 17, 27, .24);
    --text-bg-hover: rgba(50, 150, 250, .9); /*rgba(51, 144, 255, .5)*/
}

[data-theme='dark'] {
    --gavin-box-bg: rgba(36, 36, 36, 1); /*页码颜色*/
    --gavin-toc-bg: rgba(240, 240, 240, .24); /*目录颜色*//*rgba(51, 144, 255, .3); */
    --gavin-scrollbar-dark: #242424;
    --gavin-scrollbar-light: rgba(180, 180, 180, .4);
    --gavin-item-bg: rgba(240, 240, 240, .2);
    --gavin-item-border: rgba(240, 240, 240, .5);
    /* --gavin-bg-lineflash: rgb(255,255,255); */
    --card-bg: rgba(36, 36, 36, 1);
    --card-box-shadow: 0 0px 7px 1px rgba(240, 240, 240, .25);
    --card-hover-box-shadow: 0 0 15px 6px rgba(240, 240, 240, .24);
    --text-bg-hover: rgba(240, 240, 240, .24);
    --btn-bg: rgba(100, 100, 100, .8);
    --btn-hover-color: rgba(120, 120, 120, 1);
    --search-bg: rgba(36, 36, 36, 1); /*搜索框颜色*/
}

/* 设置左右padding */
.layout {
  padding-left: 5%;
  padding-right: 5%;
}

/* 设置目录弧度 */
#aside-content #card-toc .toc-content .toc-link.active {
  background: var(--gavin-toc-bg);
  /* color: #fff; */
  border-radius: 0.4em;
}

/* 设置侧边栏卡片的item样式 */
.card-archive-list-link, .card-category-list-link{
  border-radius: 0.4em;
}
.card-archive-list-link:hover, .card-category-list-link:hover{
  color: #ffffff!important;
}

/* Follow Me按钮弧度 */
#aside-content .card-info #card-info-btn {
  border-radius: 0.4em;
}

/* 首页标签Tag样式 */
#aside-content .card-tag-cloud a {
  margin: 3px 2px 3px 2px;
  border: 1px solid var(--gavin-item-border);
  background-color: var(--gavin-item-bg);
  border-radius: 0.4em;
  color: var(--gavin-item-border)!important;
}

#aside-content .card-tag-cloud a:hover {
  background-color: var(--gavin-item-border);
  color: #ffffff!important;
}

/* Tag页标签样式 */
.tag-cloud-list a {
  margin: 5px 5px 5px 5px;
  border: 1px solid var(--gavin-item-border);
  background-color: var(--gavin-item-bg);
  border-radius: 0.4em;
}

#pagination .page-number.current {
  background: var(--gavin-box-bg);
  color: var(--white);
}


/* 搜索栏背景 */
/* .search-dialog:hover {
  border: 1px solid blue;
  backdrop-filter: blur(50px);
} */


/*所有页面实现毛玻璃特效*/
/* #aside-content{
    background: rgba(255,255,255,0);
}

#aside-content > .card-widget:first-child {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

#aside-content .card-widget {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

.layout > div:first-child:not(.recent-posts) {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

#recent-posts > .recent-post-item {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
} */